# Игнорировать всё, что генерирует IDE
.idea/
*.iml

# Игнорировать выходные файлы
output/
*.xlsx
*.txt

# Игнорировать временные и кэш-файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Виртуальное окружение (если будет)
venv/
.env

driver/